<template>
  <Layout>
    <div class="container-inner mx-auto py-16">
      <div
        v-for="post in $page.posts.edges"
        :key="post.id"
        class="post border-gray-400 border-b mb-12"
      >
        <h3 class="text-2xl font-bold">
          <g-link
            :to="post.node.path"
            class="text-copy-primary"
          >{{ post.node.title }}</g-link>
        </h3>
        <div class="text-copy-secondary mb-4">
          <span class="text-gray-500">{{ post.node.date }}</span>
          <!-- <span> &middot; </span>
          <span class="text-gray-500">{{ post.node.timeToRead }} min read</span> -->
        </div>

        <div class="text-lg mb-4">
          {{ post.node.summary }}
        </div>

      </div> <!-- end post -->

      <pagination-posts
        v-if="$page.posts.pageInfo.totalPages > 1"
        base="/blog"
        :totalPages="$page.posts.pageInfo.totalPages"
        :currentPage="$page.posts.pageInfo.currentPage"
      />
    </div>
  </Layout>
</template>

<page-query>
query Posts ($page: Int) {
  posts: allPost (sortBy: "date", order: DESC, perPage: 3, page: $page) @paginate {
    totalCount
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        date (format: "MMMM D, Y")
        summary
        timeToRead
        path
      }
    }
  }
}
</page-query>

<script>
import PaginationPosts from "../components/PaginationPosts";

export default {
  metaInfo: {
    title: "Blog"
  },
  components: {
    PaginationPosts
  }
};
</script>

