<template>
  <Layout>
    <div
      class="hero container-inner mx-auto flex flex-col sm:flex-row justify-between py-16"
    >
      <div class="text-4xl font-bold w-full sm:w-4/5 text-center sm:text-left">
        <div class="">Welcome to my personal website.</div>
        <div class="text-cyan-700">My name is Phattharanat Khunakornophat</div>
      </div>
    </div>

    <div class="container-inner mx-auto">
      <p class="text-lg sm:text-xl"></p>
      <p class="text-lg sm:text-xl"></p>
    </div>

    <div class="overflow-x-hidden">
      <div class="container-inner mx-auto text-xl pb-16 relative">
        <div
          class="flex flex-col sm:flex-row justify-between items-center mb-16"
        >
          <div>
            <g-image
              src="../../static/avatar.jpg"
              alt="avatar"
              class="w-32 h-32 rounded-full mb-8 lg:mb-0"
            />
          </div>
          <div class="flex-1 text-lg sm:text-xl ml-6">
            Phattharanat Khunakornophat (Chuan)
            <p>KMUTNB 4th year student.</p>
          </div>
        </div>
      </div>
      <!-- end get-to-know me -->
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Home"
  }
};
</script>

