<template>
  <Layout>
    <div class="container-inner mx-auto py-16">
      <div class="flex mb-8 text-sm">
        <g-link
          :to="tag.node.path"
          v-for="tag in $page.tags.edges"
          :key="tag.node.title"
          class="bg-gray-300 rounded-full px-4 py-2 mr-4 hover:bg-blue-300"
        >
          {{ tag.node.title}}
        </g-link>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query Tags{
  tags: allTag{
    edges{
      node{
        title
      	path
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: "Tag"
  }
};
</script>

